
.my-modal.modal-dialog > .modal-content{
  border-radius: 20px;
}

.my-modal.modal-dialog > .modal-content > .modal-header{
  border-bottom: none;
  padding: 0;
}

.my-modal.modal-dialog > .modal-content > .modal-footer{
  border-top:none;
}

.my-modal.modal-dialog > .modal-content > .modal-header > .close {
  margin-top: 3px;
  margin-right: 10px;
}
